<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <link rel="stylesheet" th:href="@{/css/styles.css}">

    <title>Skyline Coffee Shop</title>
</head>
<div>
    <img class="header-img" th:src="@{/images/skyline-hero-resized.png}">
</div>
<body>
    <div class="head-bar">
        <ul class="navigation-list">
            <li>
                <a th:href="@{/}">Home</a>
            </li>
            <li>
                <a th:href="@{/buyscreen}">Order</a>
            </li>
            <li>
                <a th:href="@{/locationscreen}">Locations</a>
            </li>
        </ul>
    </div>
<div class="container">

    <h2>Products</h2>
    <form th:action="@{/buyscreen}">
        Filter: <input type="text" name="productkeyword" id="productkeyword" size="50" th:value="${productkeyword}" required />
        &nbsp;
        <input type="submit" value="Search" />
        &nbsp;
        <input type="button" value="Clear" id="btnClearProduct" onclick="clearSearch()" />
    </form>
    <script type="text/javascript">
        function clearSearch() {
            window.location = "[[@{/buyscreen}]]";
        }
    </script>
    <br><br>
    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
        <tr>
            <th>Name</th>
            <th>Bean Type</th>
            <th>Price</th>
            <th>Inventory</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="tempProduct : ${products}">
            <td th:text="${tempProduct.name}">1</td>

            <td th:text="${tempProduct.beanType}">1</td>
            <td th:text="${tempProduct.price}">1</td>
            <td th:text="${tempProduct.inv}">1</td>
            <td>
                <a th:href="@{/buyProduct(productID=${tempProduct.id})}" class="btn btn-primary btn-sm mb-3">Buy Now</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
    <div class="container bottomLinks">
        <a th:href="@{/adminscreen}">Admin Login</a>
    </div>
</body>
</html>